<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="container">
        <h1 class="text-center">Add a Recipe</h1>
        <form method="post" class="d-flex flex-column justify-content-center align-items-center">
            <input type="text" name="title" id="" placeholder="Title of Recipe" class="mb-2">
            <input type="text" name="ingredients" id="" placeholder="Ingredients of recipe" class="mb-2">
            <!-- <button class="btn btn-primary">+</button> -->
            <input type="text" name="process" id="" placeholder="Process of recipe" class="mb-2">
            <!-- <button class="btn btn-primary" >+</button> -->
            <button class="btn btn-success" type="submit">Add it!!</button>

        </form>
    </div>
</body>

</html>